@page "{id:int}"
@using System.Linq
@model Expenses.EditExpenseFlowModel

<div class="col-md-7 centered-form">
    <h3 class="form-caption-sm">@Model.ExpenseFlow.OriginalName</h3>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="ExpenseFlow.Id" hidden/>
        <input asp-for="ExpenseFlow.Balance" hidden/>
        <input asp-for="ExpenseFlow.OriginalName" hidden/>
        <input type="text" name="ExpenseFlow.Categories" value="@Model.ExpenseFlow.Categories"
               style="display: none;"/>
        <div class="row">
            <div class="col-md-3 col-sm-8 col-7">
                <div class="form-group">
                    <label asp-for="ExpenseFlow.Number" class="control-label"></label>
                    <input asp-for="ExpenseFlow.Number" class="form-control" autocomplete="off"/>
                    <span asp-validation-for="ExpenseFlow.Number" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-7">
                <div class="form-group">
                    <label asp-for="ExpenseFlow.Name" class="control-label"></label>
                    <input asp-for="ExpenseFlow.Name" class="form-control" autocomplete="off"/>
                    <span asp-validation-for="ExpenseFlow.Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-7 col-sm-8 col-7">
                <label asp-for="ExpenseFlow.CreationDate" class="control-label"></label>
                <date-time-picker asp-for="ExpenseFlow.CreationDate" value="@Model.ExpenseFlow.CreationDate"/>
                <span asp-validation-for="ExpenseFlow.CreationDate" class="text-danger"></span>
            </div>
            <div class="col-md-5 col-sm-8 col-7">
                <div class="form-group">
                    <label asp-for="ExpenseFlow.Balance" class="control-label"></label>
                    <input asp-for="ExpenseFlow.Balance" class="form-control money-input" autocomplete="off" disabled="disabled"/>
                    <span asp-validation-for="ExpenseFlow.Balance" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!-- Flow categories-->
        <div class="row">
            <div class="col-md-12 col-sm-8 col-7">
                @if (Model.FlowCategories.Count > 0)
                {
                    <table class="cashed-table table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Номер</th>
                            <th>Категория</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for (var i = 0; i < Model.FlowCategories.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model.FlowCategories[i].Name</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <hr/>
                    <h5>Добавьте категории продуктов</h5>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-8 col-7">
                <div class="input-group">
                    <autocomplete asp-for="ExpenseFlow.AddOrDeleteCategory" placeholder="Название категории"
                                  class="form-control form-control-sm" value-list="@Model.Categories.Select(x => x.Name)"
                                  value="@Model.ExpenseFlow.AddOrDeleteCategory"/>
                    <input type="submit" value="Добавить" asp-page-handler="addcategory"
                           class="input-group-addon btn btn-outline-secondary cursor-pointer btn-sm"/>
                    <input type="submit" value="Удалить" asp-page-handler="deletecategory"
                           class="input-group-addon btn btn-outline-secondary cursor-pointer btn-sm"/>
                </div>
                <span asp-validation-for="ExpenseFlow.AddOrDeleteCategory" class="text-danger"></span>
                <br/>
            </div>
        </div>

        <div class="row bottom-buttons-row">
            <div class="col-md-8 col-sm-4 col-4">
                <input type="submit" asp-page-handler="commit" value="Сохранить" class="btn btn-outline-danger cursor-pointer"/>
                <a asp-page="./ExpenseFlows" class="btn btn-outline-primary gapped">Отмена</a>
            </div>
            <div class="col-md-4 col-sm-4 col-3" style="text-align: right;">
                <delete-button modal-id="#deleteModal" text="Удалить статью"></delete-button>
            </div>
        </div>

        <!-- Deletion modal -->
        <deletion-modal modal-id="deleteModal" caption="Удаление статьи расходов"
                        text="Удалить статью с сохранением расходов и доходов по ней? Или удалить ее полностью? Тогда операции по ней будут удалены также."
                        page-handler="delete"
                        button-soft-text="Удалить с сохранением"
                        button-tought-text="Удалить полностью">
        </deletion-modal>
    </form>

</div>


@section Scripts {
    <script>
        makeInputDatetimePicker("ExpenseFlow.CreationDate");
        makeInputAutocomplete("ExpenseFlow.AddOrDeleteCategory");
    </script>
}