@page "{dateFrom}/{dateTo}/{pageNumber:int?}"
@using Common.Extensions
@model Expenses.ExpensesByFlowsPageModel
@{
    ViewBag.Title = "Расходы";
}

@section Styles {
    <link rel="stylesheet" href="~/css/expenses.reports.css" />
}

@Html.Partial("_Inventorization", Model.BalanceState)

<form method="post">
    <div class="header">
        <h4 class="form-caption-xs header-caption">Расходы по категориям</h4>
        <a asp-page="./AddExpense" asp-route-flowId="0" asp-route-returnPage="./ExpensesByFlows" class="btn btn-danger cursor-pointer header-button">Добавить расход</a>
        <a asp-page="./AddExpenseBill" asp-route-flowId="0" asp-route-returnUrl="/Expenses/ExpensesByFlows" class="btn btn-danger cursor-pointer header-button">Ввести чек</a>
    </div>

    <div class="input-group">
        <div class="input-group-addon addon-label-container">
            От:
        </div>
        <div class="input-group-addon addon-dtpicker-container">
            <date-time-picker asp-for="Filter.DateFrom" class="form-control" autocomplete="off"
                              value="@Model.Filter.DateFrom" />
        </div>
        <div class="input-group-addon addon-label-container">
            До:
        </div>
        <div class="input-group-addon addon-dtpicker-container">
            <date-time-picker asp-for="Filter.DateTo" class="form-control"
                              autocomplete="off" value="@Model.Filter.DateTo" />
        </div>
        <div class="input-group-addon addon-button-container">
            <button type="submit" asp-page-handler="refresh"
                    class="btn btn-outline-secondary cursor-pointer" id="refresh-button">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
        @if (Model.IsDataValid)
        {
            <div class="input-group-addon addon-button-container">
                <a asp-page="./ExpensesTable"
                   asp-route-dateFrom="@Model.Filter.DateFrom"
                   asp-route-dateTo="@Model.Filter.DateTo"
                   asp-route-pageNumber="1"
                   class="btn btn-warning cursor-pointer">
                    Расходы по дням
                </a>
            </div>
        }
    </div>
</form>

@if (!Model.IsDataValid)
{
    <br />
    <div class="text-danger align-center validation-summary-errors">Введите корректные даты!</div>
}

@if (Model.IsDataValid)
{
    <table class="cashed-table table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th width="35%">Статья</th>
                <th width="47%">Последний чек</th>
                <th width="18%" class="align-right">Сумма</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Expenses.Items.Count; i++)
            {
                var item = Model.Expenses.Items[i];
                var trClass = item.IsDangerExpense ? "table-danger" : "table-default";

                <tr class="@trClass">
                    <td>
                        <a asp-page="./ExpensesTable"
                           asp-route-dateFrom="@Model.Filter.DateFrom"
                           asp-route-dateTo="@Model.Filter.DateTo"
                           asp-route-flowId="@item.FlowId"
                           class="edit-item-link">
                            @item.Flow
                        </a>
                    </td>
                    <td>
                        <a asp-page="./ExpensesTable"
                           asp-route-dateFrom="@Model.Filter.DateFrom"
                           asp-route-dateTo="@Model.Filter.DateTo"
                           asp-route-flowId="@item.FlowId"
                           class="edit-item-link">
                            @item.LastBill.ToStandardString()
                        </a>
                    </td>
                    <td class="align-right">
                        <a asp-page="./ExpensesTable"
                           asp-route-dateFrom="@Model.Filter.DateFrom"
                           asp-route-dateTo="@Model.Filter.DateTo"
                           asp-route-flowId="@item.FlowId"
                           class="edit-item-link">
                            @item.Total.ToMoney()
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="table-info">
                <td colspan="2" class="totals-caption-left">@Model.Expenses.Totals.Caption</td>
                <td class="totals-caption">@Model.Expenses.Totals.Total.ToMoney()</td>
            </tr>
        </tfoot>
    </table>

    <report-pagination asp-page="./ExpensesByFlows" date-from="@Model.Filter.DateFrom" date-to="@Model.Filter.DateTo"
                       pagination="@Model.Expenses.Pagination">
    </report-pagination>
}

@section Scripts
    {
    <script type="text/javascript">
        activateLink("#expensesLink");

        makeInputDatetimePicker("Filter.DateFrom", refresh);
        makeInputDatetimePicker("Filter.DateTo", refresh);

        function refresh() {
            document.getElementById("refresh-button").click();
        }

    </script>
}