@page "{pageNumber:int?}"
@using Common.Extensions
@model Expenses.ExpenseFlowsModel

@{
    ViewBag.Title = "Расходы";
    var flows = Model.ExpenseFlows.ExpenseFlows;
}

@section Styles {
    <link rel="stylesheet" href="~/css/expense.flows.css"/>
}

@Html.Partial("_Inventorization", Model.BalanceState)

<div class="header">
    <h4 class="form-caption-xs">Статьи расходов</h4>
    <a asp-page="./CreateExpenseFlow" class="btn btn-outline-danger cursor-pointer header-button">Добавить статью</a>
</div>

<table class="cashed-table table table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th width="20%">
            Номер
        </th>
        <th width="60%">
            Название
        </th>
        <th width="50%" class="money-cell">
            Баланс
        </th>
        <th width="10%"></th>
    </tr>
    </thead>
    <tbody>
    @{
        var index = Model.ExpenseFlows.Pagination.Skipped;
    }
    @foreach (var flow in flows)
    {
        index++;
        var rowClass = flow.Balance >= 0 ? "table-default" : "table-danger";
        var moneyRowClass = "money-cell " + rowClass;
        
        <tr class="@rowClass">
            <td>@index</td>
            <td>
                <a asp-page="./EditExpenseFlow" asp-route-id="@flow.Id" class="edit-item-link">@flow.Name</a>
            </td>
            <td class="money-cell">
                @flow.Balance.ToMoney()
            </td>
            <td>
                <div class="dropdown show">
                    <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Действия
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a asp-page="./AddExpense" asp-route-flowId="@flow.Id" class="dropdown-item btn btn-outline-secondary btn-sm">Добавить расход</a>
                        <a asp-page="./AddExpenseBill" asp-route-flowId="@flow.Id" class="dropdown-item btn btn-outline-secondary btn-sm">Ввести чек</a>
                        <a asp-page="./FlowTransfer" asp-route-expenseId="@flow.Id" class="dropdown-item btn btn-outline-secondary btn-sm">Перевод со счета</a>
                    </div>
                </div>
            </td>
        </tr>
    }

    </tbody>
</table>

<!-- Pagination -->
<pagination asp-page="./ExpenseFlows" pagination="@Model.ExpenseFlows.Pagination"/>

@section Scripts {
    <script type="text/javascript">
        activateLink("#flowsLink");
    </script>
}