@page "{day?}/{flowId:int?}"
@using System.Linq
@using Common.Extensions
@model Expenses.BillExpensesForDayModel
@{
    ViewBag.Title = "Расходы";
    var flows = Model.Flows?.Select(x => x.Name).ToList() ?? new List<string>();
}

@section Styles {
    <link rel="stylesheet" href="~/css/expenses.reports.css" />
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form id="navForm" method="post">
    <input type="hidden" asp-for="Filter.DateTo" />
    <div class="container">
        <div class="header">
            <h4 class="form-caption-xs header-caption">Расходы в течение дня</h4>
            <a asp-page="./AddExpense" asp-route-flowId="0" asp-route-returnPage="./ExpensesForDay" class="btn btn-danger cursor-pointer header-button">Добавить расход</a>
            <a asp-page="./AddExpenseBill" asp-route-flowId="0" asp-route-returnUrl="/Expenses/ExpensesForDay" class="btn btn-danger cursor-pointer header-button">Ввести чек</a>
        </div>
        <div class="row">
            <div class="form-group row col-md-12 col-sm-10 col-10">
                <div class="input-group">
                    <div class="input-group-addon addon-select-container">
                        <autocomplete asp-for="Filter.Flow" value-list="@flows" value="@Model.Filter.Flow"
                                      hide-button="true" placeholder="Статья расходов" />
                    </div>
                    <div class="form-group input-group-addon">
                        <date-time-picker asp-for="Filter.DateFrom" class="form-control" autocomplete="off"
                                          value="@Model.Filter.DateFrom" />
                    </div>
                    <div class="input-group-addon addon-button-container">
                        <button type="submit" asp-page-handler="refresh"
                                class="btn btn-outline-secondary cursor-pointer" id="refresh-button">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                    @if (Model.IsDataValid)
                    {
                        <div class="input-group-addon addon-button-container">
                            <a asp-page="./ExpensesTable"
                               asp-route-dateFrom="@Model.Filter.DateFrom.ParseDtFromStandardString().StartOfTheWeek().ToStandardString()"
                               asp-route-dateTo="@Model.Filter.DateFrom.ParseDtFromStandardString().EndOfTheWeek().ToStandardString()"
                               asp-route-pageNumber="1"
                               asp-route-flowId="@Model.Filter.FlowId"
                               class="btn btn-outline-secondary cursor-pointer">
                                По дням
                            </a>
                        </div>
                    }
                    <div class="input-group-addon addon-terminator-container">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@if (!Model.IsDataValid)
{
    <div class="text-danger larger-text align-center validation-summary-errors">Переданная дата некорректна!</div>
}

@if (Model.IsDataValid)
{
    <table class="cashed-table table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Счет</th>
                <th>Чек</th>
                <th>Дата/время счета</th>
                <th>Товары</th>
                <th class="align-right">Сумма</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Expenses.Expenses.Count; i++)
            {
                var item = Model.Expenses.Expenses[i];
                var trClass = item.IsDangerExpense ? "table-danger" : "table-default";
                var billId = @item.BillIds.FirstOrDefault();

                <tr class="@trClass">
                    <td>@item.Period</td>
                    <td>
                        <a asp-page="./ViewExpenseBill" asp-route-billId="@billId"
                           class="edit-item-link">
                            #@billId
                        </a>
                    </td>
                    <td>
                        <a asp-page="./ViewExpenseBill" asp-route-billId="@billId"
                           class="edit-item-link">
                            @item.Caption
                        </a>
                    </td>
                    <td>
                        <a asp-page="./ViewExpenseBill" asp-route-billId="@billId"
                           class="edit-item-link">
                            @item.Goods
                        </a>
                    </td>
                    <td class="align-right">
                        <a asp-page="./ViewExpenseBill" asp-route-billId="@billId"
                           class="edit-item-link">
                            @item.Sum.ToMoney()
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="table-info">
                <td></td>
                <td></td>
                <td></td>
                <td class="totals-caption-left">@Model.Expenses.Totals.Caption</td>
                <td class="totals-caption">@Model.Expenses.Totals.Total.ToMoney()</td>
            </tr>
        </tfoot>
    </table>
}

@section Scripts
    {
    <script type="text/javascript">
        activateLink("#expensesLink");
        makeInputAutocomplete("Filter.Flow", null, refresh, 100);
        makeInputDatetimePicker("Filter.DateFrom", refresh);

        function refresh() {
            document.getElementById("refresh-button").click();
        }
    </script>
}