@page "{dateFrom?}/{dateTo?}/{pageNumber:int?}"
@using Common.Extensions
@model Expenses.ExpensesTableModel
@{
    ViewBag.Title = "Расходы";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post">
    <div class="container">
        <div class="row">
            <div class="form-group row col-md-2">
                <span class="expenses-header">Расходы</span>
            </div>
            <div class="form-group row col-md-4 col-sm-10 col-10 gapped-left">
                <date-time-picker asp-for="Filter.DateFrom" class="form-control" autocomplete="off"
                                  label="От:" value="@Model.Filter.DateFrom"/>
                <span asp-validation-for="Filter.DateFrom" class="text-danger"></span>
            </div>
            <div class="form-group row col-md-4 col-sm-10 col-10 gapped-left">
                <div class="input-group">
                    <date-time-picker asp-for="Filter.DateTo" class="form-control"
                                      autocomplete="off" label="До:"
                                      value="@Model.Filter.DateTo"/>
                </div>
                <span asp-validation-for="Filter.DateTo" class="text-danger"></span>
            </div>
            <div class="form-group row col-md-2 col-sm-10 col-10 gapped-left">
                <div class="input-group">
                    <button type="submit" asp-page-handler="refresh"
                            class="input-group-addon btn btn-secondary cursor-pointer" id="refresh-button">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <a asp-page="./ExpensesByMonth"
                       class="input-group-addon btn btn-secondary cursor-pointer">
                        По месяцам
                    </a>
                </div>
                @if (!Model.IsDataValid)
                {
                    <span class="text-danger field-validation-error">Даты некорректы!</span>
                }
            </div>
        </div>
    </div>
</form>

@if (Model.IsDataValid)
{
    <table class="cashed-table table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Дата</th>
            <th>День недели</th>
            <th>Товары</th>
            <th class="align-right">Общая сумма</th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Expenses.Expenses.Count; i++)
        {
            var item = Model.Expenses.Expenses[i];
            var trClass = item.IsDangerExpense ? "table-danger" : "table-default";

            <tr class="@trClass">
                <td>
                    <a asp-page="./ExpensesForDay"
                       asp-route-day="@item.DateFrom"
                       class="edit-item-link">
                        @item.Interval</a>
                </td>
                <td>
                    <a asp-page="./ExpensesForDay"
                       asp-route-day="@item.DateFrom"
                       class="edit-item-link">
                        @item.Caption</a>
                </td>
                <td>
                    <a asp-page="./ExpensesForDay"
                       asp-route-day="@item.DateFrom"
                       class="edit-item-link">
                        @item.Goods</a>
                </td>
                <td class="edit-item-link align-right">@item.Sum.ToMoney()</td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr class="table-info">
            <td></td><td></td>
            <td class="totals-caption-left">@Model.Expenses.Totals.Caption</td>
            <td class="totals-caption">@Model.Expenses.Totals.Total.ToMoney()</td>
        </tr>
        </tfoot>
    </table>

    <pagination asp-page="./ExpensesTable" date-from="@Model.Filter.DateFrom" date-to="@Model.Filter.DateTo"
                pagination="@Model.Expenses.Pagination">
    </pagination>
}
else
{
    <div class="text-danger larger-text align-center">Введите корректные даты!</div>
}

@section Scripts
{
    <script type="text/javascript">
        activateLink("#expensesLink");

        makeInputDatetimePicker("Filter.DateFrom");
        makeInputDatetimePicker("Filter.DateTo");

    </script>
}