@page "{dateFrom?}/{dateTo?}/{pageNumber:int?}/{flowId:int?}"
@using Common.Extensions
@using TagHelpers
@model Expenses.ExpensesTableModel
@{
    ViewBag.Title = "Расходы";
    var flows = Model.Flows.Select(x => x.Name).ToList();
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post">
    <div class="input-group">
        <div class="input-group-addon addon-select-container">
            <autocomplete asp-for="Filter.Flow" value-list="@flows" value="@Model.Filter.Flow"
                          hide-button="true" placeholder="Статья расходов" />
        </div>
        <div class="input-group-addon addon-label-container">
            От:
        </div>
        <div class="input-group-addon addon-dtpicker-container">
            <date-time-picker asp-for="Filter.DateFrom" class="form-control" autocomplete="off"
                              value="@Model.Filter.DateFrom" />
        </div>
        <div class="input-group-addon addon-label-container">
            До:
        </div>
        <div class="input-group-addon addon-dtpicker-container">
            <date-time-picker asp-for="Filter.DateTo" class="form-control"
                              autocomplete="off" value="@Model.Filter.DateTo" />
        </div>
        <div class="input-group-addon addon-button-container">
            <button type="submit" asp-page-handler="refresh"
                    class="btn btn-outline-secondary cursor-pointer" id="refresh-button">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
        <div class="input-group-addon addon-button-container">
            @if (Model.IsDataValid)
            {
                <a asp-page="./ExpensesByMonth"
                   asp-route-dateFrom="@Model.Filter.DateFromAsDateTime.Value.StartOfTheYear().ToStandardString()"
                   asp-route-dateTo="@Model.Filter.DateToAsDateTime.Value.EndOfTheYear().ToStandardString()"
                   asp-route-pageNumber="1"
                   asp-route-flowId="@Model.Filter.FlowId"
                   class="btn btn-outline-secondary cursor-pointer">
                    По месяцам
                </a>
            }
        </div>
        <div class="input-group-addon addon-button-container">
            @if (Model.IsDataValid)
            {
                <a asp-page="./ExpensesByFlows"
                   asp-route-dateFrom="@Model.Filter.DateFrom"
                   asp-route-dateTo="@Model.Filter.DateTo"
                   asp-route-pageNumber="1"
                   class="btn btn-outline-secondary cursor-pointer">
                    По статьям
                </a>
            }
        </div>
        <div class="input-group-addon addon-terminator-container">
            &nbsp;
        </div>
    </div>
</form>

@if (!Model.IsDataValid)
{
    <br />
    <div class="text-danger larger-text align-center validation-summary-errors">Введите корректные даты!</div>
}

@if (Model.IsDataValid)
{
    <table class="cashed-table table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Дата</th>
                <th>День недели</th>
                <th>Товары</th>
                <th class="align-right">Общая сумма</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Expenses.Expenses.Count; i++)
            {
                var item = Model.Expenses.Expenses[i];
                var trClass = item.IsDangerExpense ? "table-danger" : "table-default";

                <tr class="@trClass">
                    <td>
                        <a asp-page="./ExpensesForDay"
                            asp-route-day="@item.DateFrom"
                            asp-route-flowId="@Model.Filter.FlowId"
                            class="edit-item-link">
                            @item.Period
                        </a>
                    </td>
                    <td>
                        <a asp-page="./ExpensesForDay"
                            asp-route-day="@item.DateFrom"
                            asp-route-flowId="@Model.Filter.FlowId"
                            class="edit-item-link">
                            @item.Caption
                        </a>
                    </td>
                    <td>
                        <a asp-page="./ExpensesForDay"
                            asp-route-day="@item.DateFrom"
                            asp-route-flowId="@Model.Filter.FlowId"
                            class="edit-item-link">
                            @item.Goods
                        </a>
                    </td>
                    <td class="edit-item-link align-right">@item.Sum.ToMoney()</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="table-info">
                <td></td>
                <td></td>
                <td class="totals-caption-left">@Model.Expenses.Totals.Caption</td>
                <td class="totals-caption">@Model.Expenses.Totals.Total.ToMoney()</td>
            </tr>
        </tfoot>
    </table>

    <report-pagination asp-page="./ExpensesTable" date-from="@Model.Filter.DateFrom" date-to="@Model.Filter.DateTo"
                       flow-id="@Model.Filter.FlowId" pagination="@Model.Expenses.Pagination">
    </report-pagination>
}

@section Scripts
    {
    <script type="text/javascript">
        activateLink("#expensesLink");

        makeInputAutocomplete("Filter.Flow", null, refresh, 100);
        makeInputDatetimePicker("Filter.DateFrom", refresh);
        makeInputDatetimePicker("Filter.DateTo", refresh);

        function refresh() {
            document.getElementById("refresh-button").click();
        }

    </script>
}