@page
@using Common.Extensions
@model Expenses.ExpensesListModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="container">
    <div class="row">
        <span class="expenses-header col-sm-2">Расходы</span>
        <div class="col-md-10">
            <form method="post">
                <div class="form-group row">
                    <span class="col-md-1 filter-caption">От:</span>
                    <div id='datepicker-from' class='input-group date col-md-4'>
                        <input asp-for="Filter.DateFrom" class="form-control" autocomplete="off"/>
                        <span class="input-group-addon" id="date-picker-button-from">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                    <span class="col-md-1 filter-caption">До:</span>
                    <div id='datepicker-to' class='input-group date col-md-4'>
                        <input asp-for="Filter.DateTo" class="form-control" autocomplete="off"/>
                        <span class="input-group-addon" id="date-picker-button-to">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>

                    <button type="submit" class="input-group-addon cursor-pointer" id="refresh-button">
                        <i class="fa fa-refresh"></i>
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>

<table class="cashed-table table table-striped table-hover">
    <thead class="thead-inverse">
    <tr>
        <th>Дата/время</th>
        <th>Категории</th>
        <th>Общая сумма</th>
    </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.Expenses.Items.Count; i++)
    {
        var item = Model.Expenses.Items[i];

        <tr>
            <td>@item.DateTime</td>
            <td>@item.Category</td>
            <td>@item.Cost</td>
@*            <td>@Html.ActionLink(bill.DateTime, "Edit", new {id = bill.Id}, new {@class = "edit-item-link"})</td>*@
@*            <td>@Html.ActionLink(bill.Category, "Edit", new {id = bill.Id}, new {@class = "edit-item-link"})</td>*@
@*            <td>@Html.ActionLink(bill.Cost.ToMoney(), "Edit", new {id = bill.Id}, new {@class = "edit-item-link"})</td>*@
        </tr>
    }
    </tbody>
    <tfoot>
    <tr class="table-dark">
        <td colspan="2" class="totals-caption">@Model.Expenses.Totals.Caption</td>
        <td>@Model.Expenses.Totals.Total.ToMoney()</td>
    </tr>
    </tfoot>
</table>