@page "{billId:int}"
@using Common.Extensions
@model Expenses.ViewExpenseBillModel

<div class="container centered-form">

    <div class="container" style="margin-bottom: 40px;">
        <div class="row">
            <div class="col-md-12 col-sm-11 col-7">
                <h4>@Model.ExpenseFlow.Name</h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-11 col-7">
                <table width="100%" style="margin-bottom: 30px; padding-left: 0;">
                    <tr class="bottom-dashed-line">
                        <td class="align-left column-header-col">
                            <h5>Чек #@Model.Bill.Id за:</h5>
                        </td>
                        <td class="align-left">
                            <h5>@Model.Bill.DateTime.ToStandardString()</h5>
                        </td>
                        <td class="align-right">
                            <h5>@Model.Bill.Cost.ToMoney()</h5>
                        </td>
                    </tr>
                    @for (var i = 0; i < Model.Bill.Items.Count; i++)
                    {
                        var item = Model.Bill.Items[i];
                        <tr class="bill-items-font">
                            <td>
                                <span>#@(i + 1)</span>
                            </td>
                            <td class="align-left">
                                <span>@item.DisplayName</span>
                            </td>
                            <td class="align-right">
                                <span>@item.Cost.ToMoney()</span>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row bottom-buttons-row">
            <div class="col-md-6 col-sm-6 col-4">
                <a asp-page="./ExpensesForDay" asp-route-day="@Model.Day" class="btn btn-outline-danger">Назад</a>
                <a asp-page="./AddExpenseBill"
                   asp-route-expenseId="@Model.ExpenseFlow.Id"
                   asp-route-billId="@Model.Bill.Id"
                   class="btn btn-outline-primary">
                    Редактировать
                </a>
            </div>
            <div class="col-md-6 col-sm-5 col-3" style="text-align: right;">
                <delete-button modal-id="#deleteModal" text="Удалить счет"></delete-button>
            </div>
        </div>
    </div>
</div>

<form method="post">
    <input asp-for="BillId" hidden/>
    <input asp-for="Day" hidden/>

    <!-- Deletion modal -->
    <deletion-modal modal-id="deleteModal" caption="Удаление счета"
                    text="Удалить счет с удалением всех его пунктов? Внимание! Это действие необратимо!"
                    page-handler="delete"
                    button-tought-text="Да, удалить">
    </deletion-modal>
</form>