@using TagHelpers
@model AutocompleteBinding
@{
    var id = Model.Name.Replace(".", "_");
    var btnId = id + "_Btn";
    var listId = id + "_list";
    var placeholder = string.IsNullOrEmpty(Model.Value) ? Model.Placeholder : null;
}
<div class="input-group">
    <datalist id="@listId">
        @foreach (var value in Model.ValueList)
        {
            <option>@value</option>
        }
    </datalist>    
    <input id="@id" name="@Model.Name" class="form-control" type="text" list="@listId" autocomplete="off" 
           value="@Model.Value" placeholder="@placeholder"/>
    @if (!Model.HideButton)
    {
        <span class="input-group-addon btn btn-secondary cursor-pointer" id="@btnId">
            <i class="fa fa-caret-down"></i>
        </span>
    }
</div>