@using TagHelpers
@model AutocompleteBinding
@{
    var id = Model.Name.Replace(".", "_");
    var btnId = id + "_Btn";
    var listId = id + "_list";
}
<div class="input-group">
    <datalist id="@listId">
        @foreach (var value in Model.ValueList)
        {
            <option>@value</option>
        }
    </datalist>    
    <input id="@id" name="@Model.Name" class="form-control" type="text" list="@listId" autocomplete="off" value="@Model.Value"/>
    <span class="input-group-addon btn btn-secondary cursor-pointer" id="@btnId">
        <i class="fa fa-chevron-down"></i>
    </span>
</div>