@page "{dateFrom?}/{dateTo?}/{pageNumber:int?}"
@using Common.Extensions
@model Incomes.IncomesTableModel

@{
    ViewBag.Title = "Доходы";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post">
    <div class="input-group">
        <div class="input-group-addon addon-caption-container">
            Расходы
        </div>
        <div class="input-group-addon addon-label-container">
            От:
        </div>
        <div class="input-group-addon addon-dtpicker-container">
            <date-time-picker asp-for="Filter.DateFrom" class="form-control" autocomplete="off"
                              value="@Model.Filter.DateFrom"/>
        </div>
        <div class="input-group-addon addon-label-container">
            До:
        </div>
        <div class="input-group-addon addon-dtpicker-container">
            <date-time-picker asp-for="Filter.DateTo" class="form-control"
                              autocomplete="off" value="@Model.Filter.DateTo"/>
        </div>
        <div class="input-group-addon addon-button-container">
            <button type="submit" asp-page-handler="refresh"
                    class="btn btn-outline-secondary cursor-pointer" id="refresh-button">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
        <div class="input-group-addon addon-button-container">
            @if (Model.IsDataValid)
            {
                <a asp-page="./IncomesByMonth"
                   asp-route-dateFrom="@Model.Filter.DateFromAsDateTime.Value.StartOfTheYear().ToStandardString()"
                   asp-route-dateTo="@Model.Filter.DateToAsDateTime.Value.EndOfTheYear().ToStandardString()"
                   asp-route-pageNumber="1"
                   class="btn btn-outline-secondary cursor-pointer">
                    По месяцам
                </a>
            }
        </div>
        <div class="input-group-addon addon-terminator-container">
            &nbsp;
        </div>
    </div>
</form>

@if (!Model.IsDataValid)
{
    <div class="text-danger larger-text align-center validation-summary-errors">Введите корректные даты!</div>
}

<table class="cashed-table table table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th>Дата/время</th>
        <th>Статья дохода</th>
        <th>Счет зачисления</th>
        <th class="align-right">Сумма</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.IsDataValid)
    {
        @for (int i = 0; i < Model.Incomes.Incomes.Count; i++)
         {
             var item = Model.Incomes.Incomes[i];
//            var trClass = item.IsDangerExpense ? "table-danger" : "table-default";

@*            <tr class="@trClass">*@
             <tr>
                 <td>
                     @item.Interval
                     @*                    <a asp-page="./ExpensesTable" class="edit-item-link"*@
                     @*                       asp-route-dateFrom="@item.DateFrom"*@
                     @*                       asp-route-dateTo="@item.DateTo">*@
                     @*                        @item.Interval</a>*@
                 </td>
                 <td>
                     @item.Types
                     @*                    <a asp-page="./ExpensesTable" class="edit-item-link"*@
                     @*                       asp-route-dateFrom="@item.DateFrom"*@
                     @*                       asp-route-dateTo="@item.DateTo">*@
                     @*                        @item.Caption</a>*@
                 </td>
                 <td>
                     @item.Caption
                     @*                    <a asp-page="./ExpensesTable" class="edit-item-link"*@
                     @*                       asp-route-dateFrom="@item.DateFrom"*@
                     @*                       asp-route-dateTo="@item.DateTo">*@
                     @*                        @item.Goods</a>*@
                 </td>
                 <td class="align-right">@item.Sum.ToMoney()</td>
             </tr>
         }
    }
    </tbody>
    <tfoot>
    <tr class="table-info">
        @if (Model.IsDataValid)
        {
            <td colspan="3" class="totals-caption-left">@Model.Incomes.Totals.Caption</td>
            <td class="totals-caption">@Model.Incomes.Totals.Total.ToMoney()</td>
        }
        else
        {
            <td colspan="3" class="totals-caption-left">Итого за выбранный период:</td>
            <td class="totals-caption">-</td>
        }
    </tr>
    </tfoot>
</table>

@if (Model.IsDataValid)
{
    <report-pagination asp-page="./IncomesTable" date-from="@Model.Filter.DateFrom" date-to="@Model.Filter.DateTo"
                       pagination="@Model.Incomes.Pagination">
    </report-pagination>
}

@section Scripts
{
    <script type="text/javascript">
        activateLink("#incomesLink");

        makeInputDatetimePicker("Filter.DateFrom", refresh);
        makeInputDatetimePicker("Filter.DateTo", refresh);

        function refresh() {
            document.getElementById("refresh-button").click();
        }

    </script>
}