@page
@using Common.Extensions
@model Accounts.AccountsListModel

@{
    ViewBag.Title = "Счета";
    var accounts = Model.Accounts.Accounts;
    var totals = Model.Accounts.Totals;
    var footerClass = totals.Total >= 0 ? "table-primary" : "table-danger";
}

@section Styles {
    <link rel="stylesheet" href="~/css/accounts.list.css"/>
}

@Html.Partial("_Inventorization", Model.BalanceState)

<div class="header">
    <h4 class="form-caption-xs">Счета</h4>
    <div class="header-buttons">
        <a asp-page="./CreateAccount" class="btn btn-outline-danger cursor-pointer">Добавить счет</a>
        @if (@Model.CanDistribute)
        {
            <a asp-page="../Distribution/Distribution" class="btn btn-success cursor-pointer">Распределить</a>
        }
        else
        {
            <span aria-disabled="true" data-toggle="tooltip" data-placement="left"
                 title="Нет ни одного счета с положительным доступным балансом">
                <a class="btn btn-success cursor-pointer disabled" role="button" role="button">Распределить</a>
            </span>
        }
    </div>
</div>

<table class="cashed-table table table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th width="10%">
            Номер
        </th>
        <th width="50%">
            Название
        </th>
        <th width="25%" class="money-cell">
            Баланс
        </th>
        <th width="25%" class="money-cell">
            Доступно
        </th>
        <th width="10%"></th>
    </tr>
    </thead>
    
    <tbody>
        
    @for (var i = 0; i < accounts.Count; i++)
    {
        var account = accounts[i];
        var rowClass = account.Balance >= 0 ? "table-default" : "table-danger";
        
        <tr class="@rowClass">
            <td>@account.Number</td>
            <td>
                <a asp-page="./EditAccount" asp-route-id="@account.Id" class="edit-item-link">@account.Name</a>
            </td>
            <td class="money-cell">
                @account.Balance.ToMoney()
            </td>
            <td class="money-cell">
                @account.AvailBalance.ToMoney()
            </td>
            <td>
                <div class="dropdown show">
                    <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Действия
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a asp-page="./TopupAccount" asp-route-id="@account.Id" class="dropdown-item btn btn-outline-secondary btn-sm">Пополнить счет</a>
                        <a asp-page="./Transfer" asp-route-fromId="@account.Id" class="dropdown-item btn btn-outline-secondary btn-sm">Перевести с этого счета</a>
                        <a asp-page="./Transfer" asp-route-toId="@account.Id" class="dropdown-item btn btn-outline-secondary btn-sm">Перевести на этот счет</a>
                    </div>
                </div>
            </td>
        </tr>
    }

    </tbody>
    
    <tfoot class="thead-dark">
        <tr class="@footerClass">
            <td></td>
            <td>@totals.Caption</td>
            <td class="money-cell">@totals.Total.ToMoney()</td>
            <td class="money-cell">@totals.AvailBalanceTotal.ToMoney()</td>
            <td></td>
        </tr>
    </tfoot>
</table>

@section Scripts {
    <script type="text/javascript">
        activateLink("#accountsLink");
        $('[data-toggle="tooltip"]').tooltip();
    </script>
}
