@page "{id:int}"
@model Accounts.TopupAccountModel

@{
    var accounts = Model.Accounts?.Select(x => x.Name);
}

<div class="col-md-7 left-aligned-form">
    <h3>Пополнение счета</h3>
    <br/>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Topup.Correcting" hidden/>
        <input asp-for="Topup.ReturnPage" hidden/>
        <div class="row">
            <div class="col-md-12 col-sm-7 col-7">
                <div class="form-group">
                    <label asp-for="Topup.AccountName" class="control-label"></label>
                    <autocomplete asp-for="Topup.AccountName" value="@Model.Topup.AccountName"
                                  value-list="@accounts"/>
                    <span asp-validation-for="Topup.AccountName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-7 col-7">
                <div class="form-group">
                    <label asp-for="Topup.IncomeType" class="control-label"></label>
                    <autocomplete asp-for="Topup.IncomeType" value="@Model.Topup.IncomeType"
                                  value-list="@Model.IncomeTypes.Select(x => x.Name)"/>
                    <span asp-validation-for="Topup.IncomeType" class="text-danger"></span>
                    @if (Model.SuggestAddIncomeType)
                    {
                        <br/>
                        <input id="suggest" asp-for="Topup.AddNonexistentIncomeType"/>
                        <label for="suggest">Создать статью &quot;@Model.Topup.IncomeType&quot;?</label>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-7 col-sm-7 col-7">
                <label asp-for="Topup.TopupDate" class="control-label"></label>
                <date-time-picker asp-for="Topup.TopupDate" value="@Model.Topup.TopupDate"/>
                <span asp-validation-for="Topup.TopupDate" class="text-danger"></span>
            </div>
            <div class="col-md-5 col-sm-7 col-7">
                <div class="form-group">
                    <label asp-for="Topup.Amount" class="control-label"></label>
                    <input asp-for="Topup.Amount" class="form-control money-input" autocomplete="off"/>
                    <span asp-validation-for="Topup.Amount" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group bottom-buttons-row">
            <input type="submit" value="Пополнить счет" class="btn btn-outline-danger cursor-pointer"/>
            <a asp-page="@Model.Topup.ReturnPage" class="btn btn-outline-primary gapped">Отмена</a>
        </div>
    </form>

</div>

@section Scripts {
    <script type="text/javascript">
        makeInputDatetimePicker("Topup.TopupDate");
        makeInputAutocomplete("Topup.IncomeType");
        makeInputNumeric('Topup.Amount', false);

        makeInputAutocomplete("Topup_AccountName");
        if (!$("#Topup_AccountName").val()) {
            $("#Topup_AccountName").focus();
        } else {
            $("#Topup_IncomeType").focus();
        }
    </script>
}