@page
@using System.Linq
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Accounts.TransferModel

@{
    var accountNames = Model.Accounts.Select(x => x.Name).ToList();
}

<div class="col-md-7 left-aligned-form">
    <h4>Перевод между счетами</h4>
    <br/>
 
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-10 col-sm-7 col-7">
                <div class="form-group">
                    <label asp-for="Transfer.AccountFrom" class="control-label"></label>
                    <autocomplete asp-for="Transfer.AccountFrom" value="@Model.Transfer.AccountFrom"
                                  value-list="@accountNames"/>
                    <span asp-validation-for="Transfer.AccountFrom" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-7 col-7">
                <div class="form-group">
                    <label asp-for="Transfer.AccountTo" class="control-label"></label>
                    <autocomplete asp-for="Transfer.AccountTo" value="@Model.Transfer.AccountTo"
                                  value-list="@accountNames"/>
                    <span asp-validation-for="Transfer.AccountTo" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-7 col-7">
                <div class="form-group">
                    <label class="control-label">Доступно:</label>
                    <input id="avail-balance" class="form-control money-input" autocomplete="off" 
                           value="@Model.AvailableBalance" disabled/>
                </div>
            </div>
            <div class="col-md-5 col-sm-7 col-7">
                <div class="form-group">
                    <label asp-for="Transfer.Amount" class="control-label"></label>
                    <input asp-for="Transfer.Amount" class="form-control money-input" autocomplete="off"/>
                    <span asp-validation-for="Transfer.Amount" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group bottom-buttons-row">
            <input type="submit" value="Выполнить перевод" class="btn btn-outline-danger cursor-pointer"/>
            <a asp-page="./AccountsList" class="btn btn-outline-primary gapped">Отмена</a>
        </div>
    </form>

</div>

@section Scripts {
    <script>
        makeInputAutocomplete("Transfer.AccountFrom", null, updateAvailableBalance);
        makeInputAutocomplete("Transfer.AccountTo");
        makeInputNumeric("Transfer.Amount");
        
        function updateAvailableBalance() {
            $("#avail-balance").val("-");
            sendAjax("Transfer?handler=accountbalance",
                $("#Transfer_AccountFrom").val(),
                function(result) {
                    $('#avail-balance').val(result);
                });
        }

        if ($("#Transfer_AccountFrom").val())
            $("#Transfer_AccountTo").focus();
        else
            $("#Transfer_AccountFrom").focus();
        
    </script>
}